{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% blockcontent %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden() }}
    <fieldset class="form-group"></fieldset>
      <legend class="border-bottom mb-4>Join Today"></legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }}

        <!-- If error occurs, send error message -->
        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
      </div>
  </form>
</div>
  {% endblock %}
